@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #5dae61;
  --green-dark: #3b7d5e;
  --shade: #183153;
}

.bg-prime {
  background: var(--green);
}

.bg-second {
  background: var(--green-dark);
}

.bg-gradian {
  background: linear-gradient(135deg, var(--green), var(--green-dark));
}

.text-prime {
  color: var(--green);
}

.text-second {
  color: var(--green-dark);
}

.text-gradient {
  background: linear-gradient(135deg, var(--green), var(--green-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* From Uiverse.io by abrahamcalsin */
.themeBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--green), var(--green-dark));
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  /* border: 2px solid white; */
}

.themeBtn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.themeBtn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.themeBtn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 10px 14px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.themeBtn:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
